@model List<ClassificationIndexGet>
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;

}
@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutAdmin";
}

<h1><img src="~/images/icons/Classifications.png" width="50" height="50" />Admin dashboard</h1>
