@model List<ClassificationIndexGet>
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;

}
@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutAdmin";
}

<h1><img src="~/images/icons/Setting.png" width="50" height="50" />Admin menu</h1>
<div class="container">
    <div class="row">
        <div class="col-1"><img src="/images/icons/Setting.png" width="20px" height="20px" /></div>
        <div class="col-5"><a asp-controller="Classification" asp-action="Index">Classification</a></div>
        <div class="col-1"><img src="/images/icons/Setting.png" width="20px" height="20px" /></div>
        <div class="col-5"><a asp-controller="ContentType" asp-action="Index">Content type</a></div>
    </div>
    <div class="row">
        <div class="col-1"><img src="/images/icons/Setting.png" width="20px" height="20px" /></div>
        <div class="col-5"><a asp-controller="ClassificationRelationType" asp-action="Index">Classification relation type</a></div>
        <div class="col-1"><img src="/images/icons/Setting.png" width="20px" height="20px" /></div>
        <div class="col-5"><a asp-controller="ContentTypeGroup" asp-action="Index">Content type group</a></div>
    </div>
    <div class="row">
        <div class="col-1"><img src="/images/icons/Setting.png" width="20px" height="20px" /></div>
        <div class="col-5"><a asp-controller="Organization" asp-action="Index">Organization</a></div>
        <div class="col-1"><img src="/images/icons/Setting.png" width="20px" height="20px" /></div>
        <div class="col-5"><a asp-controller="OrganizationType" asp-action="Index">OrganizationType</a></div>
    </div>
    <div class="row">
        <div class="col-1"><img src="/images/icons/Setting.png" width="20px" height="20px" /></div>
        <div class="col-5"><a asp-controller="Person" asp-action="Index">Person</a></div>
        <div class="col-1"><img src="/images/icons/Setting.png" width="20px" height="20px" /></div>
        <div class="col-5"><a asp-controller="PersonRelationType" asp-action="Index">Person relation type</a></div>
    </div>
    <div class="row">
        <div class="col-1"><img src="/images/icons/Setting.png" width="20px" height="20px" /></div>
        <div class="col-5"><a asp-controller="Page" asp-action="Index">Page</a></div>
        <div class="col-1"></div>
        <div class="col-5"></div>
    </div>
    <div class="row">
        <div class="col-1"><img src="/images/icons/Setting.png" width="20px" height="20px" /></div>
        <div class="col-5"><a asp-controller="ProjectType" asp-action="Index">Project type</a></div>
        <div class="col-1"><img src="/images/icons/Setting.png" width="20px" height="20px" /></div>
        <div class="col-5"><a asp-controller="Project" asp-action="Index">Project</a></div>
    </div>
    <div class="row">
        <div class="col-1"><img src="/images/icons/Setting.png" width="20px" height="20px" /></div>
        <div class="col-5"><a asp-controller="ProcessTemplate" asp-action="Index">Process template</a></div>
        <div class="col-1"><img src="/images/icons/Setting.png" width="20px" height="20px" /></div>
        <div class="col-5"><a asp-controller="ProcessTemplateGroup" asp-action="Index">Process template group</a></div>
    </div>
    <div class="row">
        <div class="col-1"><img src="/images/icons/Setting.png" width="20px" height="20px" /></div>
        <div class="col-5"><a asp-controller="ProcessTemplateStageType" asp-action="Index">Process template stage type</a></div>
        <div class="col-1"></div>
        <div class="col-5"></div>
    </div>
    <div class="row">
        <div class="col-1"><img src="/images/icons/Setting.png" width="20px" height="20px" /></div>
        <div class="col-5"><a asp-controller="Role" asp-action="Index">Role</a></div>
        <div class="col-1"><img src="/images/icons/Setting.png" width="20px" height="20px" /></div>
        <div class="col-5"><a asp-controller="RoleGroup" asp-action="Index">Role group</a></div>
    </div>
    <div class="row">
        <div class="col-1"><img src="/images/icons/Setting.png" width="20px" height="20px" /></div>
        <div class="col-5"><a asp-controller="User" asp-action="Index">User</a></div>
        <div class="col-1"><img src="/images/icons/Setting.png" width="20px" height="20px" /></div>
        <div class="col-5"><a asp-controller="UserMenuTemplate" asp-action="Index">User menu template</a></div>
    </div>
    <div class="row">
        <div class="col-1"><img src="/images/icons/Setting.png" width="20px" height="20px" /></div>
        <div class="col-5"><a asp-controller="Language" asp-action="Index">Language</a></div>
        <div class="col-1"><img src="/images/icons/Setting.png" width="20px" height="20px" /></div>
        <div class="col-5"><a asp-controller="UITerm" asp-action="Index">UIT term customization</a></div>
    </div>
    <div class="row">
        <div class="col-1"><img src="/images/icons/Setting.png" width="20px" height="20px" /></div>
        <div class="col-5"><a asp-controller="Setting" asp-action="Index">Setting</a></div>
        <div class="col-1"></div>
        <div class="col-5"></div>
    </div>
</div>
