@model List<ClassificationValueAdvancedSearchResult>
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("Classification value search result")).TermString;
    Layout = "_Layout";
}
<h1><img src="~/images/icons/Value.png" width="50" height="50" />&nbsp;@Term.Find(x => x.InternalName.Equals("Classification value search result")).TermString</h1>
<div class="container">
    
    <ejs-grid id="Grid" dataSource="@Model" allowPaging="true" allowSorting="true" allowResizing="true">
        <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
        <e-grid-columns>
            <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Classification value")).TermString" template="#ClassificationValueName" textAlign="Center" type="string"></e-grid-column>
            <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Classification")).TermString" template="#ClassificationName" textAlign="Center" type="string"></e-grid-column>
        </e-grid-columns>
    </ejs-grid></div>
    <script id="ClassificationValueName" type="text/x-template">
        <div class="leftAlignGridColumn">
            <a class="nav-link text-dark font-weight-bold" href="/FrontClassificationValue/Dashboard/${ClassificationValueId}"><u>${ClassificationValueName}</u></a>

        </div>
    </script>
    <script id="ClassificationName" type="text/x-template">
        <div class="leftAlignGridColumn">
            ${ClassificationName}
        </div>
    </script>
