@model List<FrontContentContentTypeGroup>
@{
    var AllStuff = (ViewBagModel)ViewBag.AllStuff;
  //  var AllStuff = (ViewBagModel)ViewBag.AllStuff;
    ViewData["Title"] = @AllStuff.UITerms.Find(x => x.InternalName.Equals("Content type")).TermString;
    ViewData["Image"] = "Content.png";
    ViewData["FavoriteGroup"] = AllStuff.FavoriteGroupList;

    Layout = "_Layout";
}

@foreach (var x in Model)
{
    <h1>@x.ContentTypeGroupName</h1>
    @foreach (var y in x.ContentTypes)
    {
        <a asp-action="ContentNew" asp-route-id="@y.ContentTypeID">@y.ContentTypeName</a>
        <br />
    }
}
