@using Syncfusion.EJ2
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SIPx.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Syncfusion Essential JS 2 Styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    <!-- Syncfusion Essential JS 2 Scripts -->
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>

    @*    <script src="https://cdn.ckeditor.com/ckeditor5/24.0.0/classic/ckeditor.js"></script>*@
    @*<script src="https://cdn.ckeditor.com/4.15.1/standard/ckeditor.js"></script>*@
    <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>


</head>
<body>
    <header>
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">*@
        <div class="container">
            <h1 style="color:slategrey">
                <img src="~/images/su_logo.png" style="height:60px; width:90px" />
                Student Union 1.5
            </h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @*<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>*@
        </div>
        @*</nav>*@

    </header>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <a class="nav-link text-dark font-weight-bold" asp-controller="Front" asp-action="Index">Frontend</a>
                <a class="nav-link text-dark font-weight-bold" asp-controller="Admin" asp-action="Menu" asp-route-id="1">Admin menu</a>
                @*<a class="nav-link text-dark font-weight-bold" asp-controller="Classification" asp-action="Index">Classifications</a>
                    <a class="nav-link text-dark font-weight-bold" asp-controller="ClassificationRelationType" asp-action="Index">Classification relation types</a>
                    <a class="nav-link text-dark font-weight-bold" asp-controller="Organization" asp-action="Index">Organizations</a>
                    <a class="nav-link text-dark font-weight-bold" asp-controller="OrganizationType" asp-action="Index">Organization types</a>
                    <a class="nav-link text-dark font-weight-bold" asp-controller="Page" asp-action="Index">Pages</a>
                    <a class="nav-link text-dark font-weight-bold" asp-controller="Person" asp-action="Index">Persons</a>
                    <a class="nav-link text-dark font-weight-bold" asp-controller="ProcessTemplate" asp-action="Index">Process templates</a>
                    <a class="nav-link text-dark font-weight-bold" asp-controller="ProcessTemplateGroup" asp-action="Index">Process template groups</a>
                    <a class="nav-link text-dark font-weight-bold" asp-controller="Project" asp-action="Index">Projects</a>
                    <a class="nav-link text-dark font-weight-bold" asp-controller="RoleGroup" asp-action="Index">Role groups</a>
                    <a class="nav-link text-dark font-weight-bold" asp-controller="UserMenuTemplate" asp-action="Index">User template menus</a>
                    <a class="nav-link text-dark font-weight-bold" asp-controller="Setting" asp-action="Index">Settings</a>*@

                <a href="https://localhost:44393/Meta/">Meta</a>
                <a href="https://localhost:44393/CreateDB/">Create DB</a>
                <a href="https://localhost:44393/Swagger/">Swagger</a>
            </div>
            <div class="col-10">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SIPx.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <!-- Syncfusion Essential JS 2 ScriptManager -->
    <ejs-scripts></ejs-scripts>
</body>
</html>
