
@model List<SIPx.Shared.MetaListContentStatus>
@{
}
<div class="table-responsive">
    <table class="table table-bordered table-sm table-hover">

        <thead>
            <tr><th>Content status ID</th><th>Name</th></tr>
        </thead>
        @foreach (var x in Model)

        {
            <tr>
                <td><div>@x.ContentStatusId</div></td>
                <td><div>@x.Name</div></td>
            </tr>

        }
    </table>
</div>
