@page
@model SIPx.API.Views.Meta.IndexModel
@{
}
<h1>Meta data</h1>
<div><a asp-controller="Meta" asp-action="AddressTypes">Address types</a></div>
<div><a asp-controller="Meta" asp-action="Claims">Claims</a></div>
<div><a asp-controller="Meta" asp-action="ClaimGroups">Claim groups</a></div>
<div><a asp-controller="Meta" asp-action="ContentStatus">Content statuses</a></div>
<div><a asp-controller="Meta" asp-action="Countries">Countries</a></div>
<div><a asp-controller="Meta" asp-action="InterMediateRegions">Intermediate regions</a></div>
<div><a asp-controller="Meta" asp-action="SubRegions">Sub regions</a></div>
<div><a asp-controller="Meta" asp-action="Regions">Regions</a></div>
<div><a asp-controller="Meta" asp-action="Languages">Languages</a></div>
<div><a asp-controller="Meta" asp-action="SecurityLevels">Security levels</a></div>
<div><a asp-controller="Meta" asp-action="Settings">Settings</a></div>
<div><a asp-controller="Meta" asp-action="SortBys">Sort bys</a></div>
<div><a asp-controller="Meta" asp-action="Statuses">Statuses</a></div>
<div><a asp-controller="Meta" asp-action="TelecomTypes">Telecom types</a></div>
<div><a asp-controller="Meta" asp-action="ValueUpdateTypes">Value update types</a></div>

<div><a asp-controller="Meta" asp-action="DateLevels">Date levels</a></div>
<div><a asp-controller="Meta" asp-action="Genders">Genders</a></div>

<div><a href="#">MVC screens</a></div>
<div><a href="#">MVC screen terms</a></div>
<div><a asp-controller="Meta" asp-action="UITerms">UI Term</a></div>
<div><a asp-controller="Meta" asp-action="UITermCustomizations">UI Term customizations</a></div>

<div><a asp-controller="Meta" asp-action="PageSectionTypes">Page section data types</a></div>
<div><a asp-controller="Meta" asp-action="PageSectionDataTypes">Page section types</a></div>
<div><a asp-controller="Meta" asp-action="PreferenceTypes">Preference types</a></div>
<div><a asp-controller="Meta" asp-action="ProcessTemplateFieldTypes">Process template field types</a></div>
<div><a asp-controller="Meta" asp-action="ProcessTemplateStageFieldStatus">Process template stage field status</a></div>
<div><a asp-controller="Meta" asp-action="ProcessTemplateFlowConditionComparisonOperators">Process template Flow condition operators</a></div>
<div><a asp-controller="Meta" asp-action="ProcessTemplateFlowConditionTypes">Process template Flow condition types</a></div>


<h2>Menu data</h2>

<h1>Demo Master data</h1>
<div><a  asp-controller="Meta" asp-action="Classifications">Classifications</a></div>
<div><a href="#">Classification levels</a></div>
<div><a href="#">Classification pages</a></div>
<div><a href="#">Classification page sections</a></div>
<div><a href="#">Classification values</a></div>
<div><a href="#">Classification relation types</a></div>
<div><a href="#">Classification roles</a></div>
<div><a href="#">Classification users</a></div>
<div><a href="#">Classification value roles</a></div>
<div><a href="#">Classification value users</a></div>
<div><a href="#">Content types</a></div>
<div><a href="#">Content type groups</a></div>
<div><a href="#">Content type classifications</a></div>
<div><a href="#">Roles</a></div>
<div><a href="#">Role groups</a></div>
<div><a href="#">Users</a></div>
<div><a href="#">Organizations</a></div>
<div><a href="#">Organization addresses</a></div>
<div><a href="#">Organization telecoms</a></div>
<div><a href="#">Organization types</a></div>

<div><a href="#">Persons</a></div>
<div><a href="#">Persons addresses</a></div>
<div><a href="#">Persons telecoms</a></div>


<div><a href="#">Pages</a></div>
<div><a href="#">Page sections</a></div>

<div><a href="#">Process templates</a></div>
<div><a href="#">Process template stages</a></div>
<div><a href="#">Process template stage types</a></div>
<div><a href="#">Process template fields</a></div>
<div><a href="#">Process template stage fields</a></div>
<div><a href="#">Process template Flows</a></div>
<div><a href="#">Process template Flow groups</a></div>
<div><a href="#">Process template Flow conditions</a></div>

<div><a href="#">PRojects</a></div>


@*  *@
<h1>Demo data</h1>
<div><a href="#">Content</a></div>
<div><a href="#">Content classification values</a></div>

<div><a href="#">Processes</a></div>

<div><a href="#">Process multi</a></div>

<div><a href="#">Process fields</a></div>
