
@model List<SIPx.API.ViewModels.MetaListRegion>
@{
}
<div class="table-responsive">
    <table class="table table-bordered table-sm table-hover">

        <thead>
            <tr><th>Region ID</th><th>Name</th></tr>
        </thead>
        @foreach (var x in Model)

        {
            <tr>
                <td><div>@x.RegionId</div></td>
                <td><div>@x.Name</div></td>
            </tr>

        }
    </table>
</div>
