
@model List<SIPx.API.ViewModels.MetaListSubRegion>
@{
}
<div class="table-responsive">
    <table class="table table-bordered table-sm table-hover">

        <thead>
            <tr><th>Subregion ID</th><th>Subregion ame</th><th>Region ID</th><th>Region ame</th></tr>
        </thead>
        @foreach (var x in Model)

        {
    <tr>
        <td><div>@x.SubRegionId</div></td>
        <td><div>@x.SubRegionName</div></td>
        <td><div>@x.RegionId</div></td>
        <td><div>@x.SubRegionId</div></td>
    </tr>

        }
    </table>
</div>
