
@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutExternal";
}
<div class="text-center">
    <h1 class="display-4">Welcome to Student Union. </h1>
    <p>Please login to see the functionality of the platform.</p>
   @* @Html.Raw(ViewBag.Classlist)*@
</div>
