@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form method="post">
    <input asp-for="@Model.Email" class="form-control" /><input asp-for="@Model.Password" class="form-control" /><button type="submit" class="btn btn-primary btn-dark">Login</button>
</form>
