@page "/"
@layout AuthLayout
@inherits LoginBase
<h3>Login</h3>
<div>
    @*<EditForm Model="LoginModel" >
    <label>User name:</label>
    <InputText @bind-Value="LoginModel.Email">eplegrand@gmail.com</InputText>
    <label>Password:</label>
    <InputText @bind-Value="LoginModel.Password"></InputText>
    <button type="button" @onclick="@(() => SubmitLogin())">Login</button>
</EditForm>*@
    <EditForm Model="LoginModel" OnSubmit="SubmitLogin">
        <RadzenCard>
            <DataAnnotationsValidator />
            <ValidationSummary />
            <label>User name:</label>
            <RadzenTextBox  @bind-Value="LoginModel.Email"></RadzenTextBox>
            <label>Password:</label>
            <RadzenTextBox @bind-Value="LoginModel.Password"></RadzenTextBox>
            <RadzenButton ButtonType="Radzen.ButtonType.Submit" Text="Login"
                          ButtonStyle="Radzen.ButtonStyle.Primary" class="btn-block mr-2"/>
        </RadzenCard>
</EditForm>
    </div>

@if (y.Message == "")
{ <div>wait</div>}
else if (y.Message == "load")
{ <div>loading</div>}
else
{ <div>@y.Message</div>}